/* 
Theme Name:Lulishte
*/

@import "font-awesome";

.btn-md{
       background-color: #e01249;
       color: #fff;
       width: 62%;
}
.parts2{
    margin-top: 30px;
}
.content-wrap {
    padding: 30px 40px 17px;
    background: #fff;
}
.image{
    width: 100%!important;
}
.parts{
        background-color: #f6f6f6 !important;
            margin-top: -80px;
}
@media(max-width:784px ){
    .parts{
            margin-top: 0px !important;
}

}
.btn.btn-sm.slider {
  padding: 14px 35px;
    line-height: 17px;
    font-size: 14px;
    color: #fff !important;
    text-transform: uppercase;
    margin-top: 21px;
}
.btn.slider {
    border-radius: 4px;
        background-color: #e01249;
    color: #fff;
}
.btn:hover{
        background-color: #cd0236;
    }
.collapse ul li{
    float:left;
    /*padding: 4px;*/
    list-style: none;
}
.navbar-default {
    background-color: #fff !important;
}
.collapse{
      margin-top: -35px !important;
}
.collapse ul li a::after{
    background-color: #1874c1;
    bottom: 15px;
    content: "";
    height: 2px;
    left: 10px;
    position: absolute;
    width: calc(100% - 20px);
    opacity: 0;
    -webkit-transition: opacity 0.2s ease 0s;
    transition: opacity 0.2s ease 0s;
}
.collapse ul li a{
    color: #000 !important;
    font-size: 14px!important;
    font-family: Crimson Text;
    text-transform: uppercase;
}

.collapse ul li a:hover{
    color:#cd0236 !important;
}
@media(max-width: 768px){
    .collapse ul li{
width: 100%;
}
}
@media(max-width: 1008px){
    .collapse{
      margin-top: 0px !important;
}
}
.top-bar{
        background: #f9f9f9;
            color: #c1c1c1;
            border-bottom: 1px solid rgba(0, 0, 0, 0.05);

}
@media (min-width: 768px){
.top-bar {
    height: 40px;
}
}
@media (min-width: 993px){
.top-bar, .top-bar.style-2 {
    padding: 0;
    height: 40px;
}
}
.top-bar:before, .top-bar:after {
    content: " ";
    display: table;
}
.top-bar ul {
    list-style: none;
    margin: 0;
}
.left {
    float: left;
}
.left::before{
        content: " ";
    display: table;
}
.top-bar ul.social {
    margin-left: 0;
}
.top-bar ul li {
    display: inline-block;
}
.top-bar .fa {
    font-size: 15px;
    padding: 12px 12px;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.right {
    float: right;
  margin-top: -38px !important;
}
@media(max-width: 690px ){
    .right {
  margin-top: 0px !important;
}
}
.top-bar .left:before, .top-bar .left:after, .top-bar .right:before, .top-bar .right:after {
    content: " ";
    display: table;
}
.fa-clock-o:before {
    content: "\f017";
}
.fa-phone:before {
    content: "\f095";
}
.fa-envelope-o:before {
    content: "\f003";
}
.fa-facebook-f:before, .fa-facebook:before {
    content: "\f09a";
}
.fa-twitter:before {
    content: "\f099";
}
.fa-linkedin:before {
    content: "\f0e1";
}
.fa-google-plus:before {
    content: "\f0d5";
}

a {
    color: #c1c1c1 !important;
    text-decoration: none;
}
header .navbar ul ul li{

    list-style: none;
    padding: 10px;
    margin-left: -40px;
}


header .navbar ul ul a{
    text-decoration: none;
}
.nav>li>a {
    padding: 10px 13px !important;
}
header .navbar ul ul li a
{
    text-shadow: none!important;
}
header .navbar ul ul
{
    position: absolute;
    top: -99999px;
    left: 0;
    opacity: 0;
    /*display: none;
    */
    background: #fff;
    width:100%;
    text-align: left;
    text-shadow:2px 2px 2px rgba(0,0,0,0.5);
    /*box-shadow: 2px 5px 10px #ff8333;*/
    z-index: 100;
}
/*////////*/
header .navbar ul li:hover > ul{
    position: absolute;
    top: 100%;
    width: 157px !important;
     margin-left: -38px !important;
    /*display: block;*/
    opacity: 1;
    z-index: 100;
}
.statement{
    background-image: url("images/statement4.jpg");
    width: 100%;
}
.recentblog-icon{
    position: absolute;
    z-index: 800;
    background-color: #e01249;
    width: 42px;
    height: 57px;
    right: 38px;
    top: 14px;
}
#over-footer time{
    position: absolute;
    right: 46px;
    top: 20px;
    z-index: 1200;
    color: #fff;
}
#over-footer{
    clear: both;
    overflow: hidden;
    position: relative;
    /*z-index: 100;*/
}
#over-footer img:hover, .opacity-div {
    cursor: pointer;
}
#over-footer img{
    width: 100%;
    height: 100%;
}
#over-footer p{
    color: #727272;
    padding: 20px 0;
    font-family: PT Sans, sans-serif;
    border-top: 1px solid #ececec;
}
#over-footer a{
    
    text-decoration: none;
}
#over-footer h2:hover{
    color: #e01249;
}
#over-footer div{
    padding: 20px;
}
#over-footer h2{
    color: #000;
    text-transform: uppercase;
    font-size: 19px;
    font-family: Crimson Text sans-serif;
    width: 100%;
}
#over-footer figure{
    width: 340px;
    height: 250px;
    margin: 0;
    padding: 0;
    background: #fff;
    overflow: hidden;
}

.opacity-div{
    position: absolute;
    width: 340px;
    height: 250px;
    display: none;
    z-index: 100;
    color: #fff;
    text-align: center;
    vertical-align: middle;
}
figure .fa{
    text-align-last: center;
    vertical-align: middle;
    margin-top: 90px;
}
@media (max-width: 768px){
    #over-footer figure{
        width: 110%;
        height: 300px;
    }
    figure .fa {
        margin-top: 125px;
    }
}
@media (max-width: 768px){
    .opacity-div{
        width: 100%;
        height: 300px;
    }
    #over-footer{
        margin-left: -15px;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .opacity-div {
        width: 320px;
        height: 200px;
    }
    #over-footer figure {
        width: 100%;
        height: 200px;
    }
    figure .fa {
        margin-top: 75px;
    }
}
@media (min-width: 992px) and (max-width: 1200px){
    .opacity-div {
        width: 430px;
        height: 300px;
    }
    #over-footer figure {
        width: 100%;
        height: 300px;
    }
    figure .fa {
        margin-top: 110px;
    }
}
@media (max-width: 420px){
    #over-footer figure {
        height: 200px;
    }
    .opacity-div {
        height: 200px;
    }
    figure .fa {
        margin-top: 77px;
    }
}
#over-footer figure:hover .opacity-div{
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
}
#over-footer figure img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

#over-footer figure:hover img{
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

/************ SERVICES ***************/
.services-name{
    width: 100%;
    padding: 55px 0;
    color: #292929;
    background-color: #f8f8f8;
    margin-top: -21px;
    margin-bottom: 20px;
    border-bottom: 1px solid #e7e7e7;
}

.services-read{
    text-decoration: none;
    text-transform: uppercase;
    font-family: Crimson Text;
    color: #000!important;
}
.services-read:hover{
    color: #cd0236!important;
    text-decoration: none;
}
.rightt-container h3{
    font-family: Crimson Text;
}
.right-container img{
    width: 100%;
    height: 300px;
}
@media (max-width: 425px){
    .right-container img{
        height: 200px!important;
    }
}

.right-container{
    width: 70%;
    float: right;
}
.right-container p{
    line-height: 1.7em;
    word-wrap: break-word;
    font-family: PT Sans;
    color: #727272;
}
.right-container div{
    width: 45%;
    float: right;
    margin-left: 31px;
    margin-bottom: 50px;
}
.widgettitle{
    display: none;
}
.page-name{
    text-align: center;
    font-family: Crimson Text;
    font-size: 48px;
}
.left-sidebar li{
    list-style: none;
    padding: 10px;
    width: 100%;
    background-color: #f1f1f1;
        margin-bottom: 5px;
    border-radius: 3px;
}
.left-sidebar li a{
    color: #848484!important;
    text-decoration: none;
    width: 250px;
    height: 100%;
    font-family: PT Sans;
}
.left-sidebar{
    width: 30%;
    float: left;
}
.left-sidebar ul{
    margin-left: -47px;
    width: 100%;
}
.left-sidebar li:hover a{
    color: #cd0236!important;
}
.left-sidebar li a:after{
    content: url('images/black-arrow.png');
    float: right;
    margin-top: 5px;
}
.left-sidebar .textwidget{
    padding: 10px;
    background: #f1f1f1;
    margin-bottom: 5px;
    margin-left: -7px;
    border-radius: 3px;
    width: 29.5%; 
}
.all-services li:after{
    content: url('images/white-arrow.png');
    float: right;
    margin-top: 3px;
}
.all-services{
    margin-bottom: 0;
}
.all-services li{
    font-family: PT Sans;
    background-color: #cd0236;
    color: #fff;
}
@media (max-width: 991px){
    .right-container div {
        width: 100%;
        float: none;
        margin-left: 0;
    }
    .right-container {
        width: 94%;
        float: none;
        clear: both;
        margin: 0 auto;
    }
    .left-sidebar li {
        width: 100%; 
    }
    .left-sidebar{
        width: 100%;
        margin-bottom: 50px;
    }
    .left-sidebar ul{
        margin-left: -20px;
    }
}

/************ NOTIFICATIONS *************/

.notifications-left{
    width: 75%;
    float: left;
    margin-bottom: 50px;
}
.notifications-right{
    width: 22%;
    float: right;
    margin-top: -696px;
}
.notifications-left img{
    width: 100%;
    margin-bottom: 15px;
}
@media (max-width: 580px){
  .notifications-left img, .single-post img{
        height: 280px;
    }  
}
@media (max-width: 991px){
    .notifications-left{
        width: 100%;
        float: none;
    }
    .notifications-right{
        width: 100%;
        float: none;
        margin-top: 45px;
    } 
    .not-readmore{
        display: block;
    }  
}
.not-title{
    clear: left;
    font-size: 24px!important;
    font-weight: 300!important;
    line-height: 1.35em!important;
    margin-top: 10px;
    text-transform: uppercase;
}
.notifications-left .a-not-title{
    font-family: Crimson Text sans-serif!important;
    color: #000!important;
    text-decoration: none!important;
    clear: left;
}
.notifications-left .a-not-title:hover{
    color: #cd0236!important;
}
.not-content, .post-content{
    line-height: 1.7em;
    font-family: PT Sans sans-serif;
    color: #727272;
    padding: 10px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    margin-bottom: 25px;
}
.notifications-left ul{
    margin-bottom: 45px;
    margin-left: -40px;
}
.notifications-left ul li{
    float: left;
    list-style: none;
    padding: 5px 0;
    margin-right: 10px;
    color: #b8b8b8;
    font-family: PT Sans;
    cursor: pointer;
}
.notifications-left ul li:hover{
    color: #727272;
}
#not-comment:before{
    content: '\f0e5';
    font-family: FontAwesome;
    color: #cd0236;
    padding-right: 5px;
}
#not-tag:before{
    content: '\f114';
    font-family: FontAwesome;
    color: #cd0236;
    padding-right: 5px;
}
#not-date:before{
    content: '\f073';
    font-family: FontAwesome;
    color: #cd0236;
    padding-right: 5px;
}
.notifications-right ul li, .single-right ul li{
    list-style: none;
    border-bottom: 1px solid #ebebeb;
    padding: 16px 0;
    margin-left: -38px;
}
.notifications-right ul li:last-child, .single-right ul li:last-child{
    border:none!important;
}
.notifications-right ul li a, .single-right ul li a{
    color: #848484!important;
    text-transform: uppercase!important;
    text-decoration:none!important;
}

.notifications-right .widgettitle, .single-right .widgettitle{
    display: block!important;
    font-size: 18px;
    margin-bottom: 25px;
    margin-top: 30px;
}
.not-readmore{
    border-radius: 4px;
    background-color: #cd0236;
    color: #fff!important;
    padding: 11px 17px;
    font-size: 14px;
    text-decoration: none!important;
    text-align: center;
    font-weight: normal;
    line-height: 1.5;
    font-family: Crimson Text;
    text-transform: uppercase;
}
.not-readmore:hover{
    background-color: #e01249;
}
#not-tag a:first-child{
    display: none;
}
#not-tag a:hover{
    color: #727272!important;
    text-decoration:none!important; 
}

/**************SINGLE****************/
.single-page-title{
    width: 100%;
    padding: 55px 0;
    background-color: #f8f8f8;
    margin-top: -40px;
    margin-bottom: 30px;
    border-bottom: 1px solid #e7e7e7;
}
.single-page-title h1{
    text-align: center;
    color: #292929;
    font-family: Crimson Text;
    text-transform: uppercase;
    word-wrap: break-word;
}
.single-post{
    width: 75%;
    float: left;
}
.single-right{
    width: 22%;
    float: right;
}
@media (max-width: 991px){
     .single-post{
        width: 100%;
        float: none;
    }
    .single-right{
        width: 100%;
        float: none;
    } 
    .my-comments{
        width: 100%;
    }  
    .comment-form-comment textarea{
        width: 100%!important;
    }
    .comment-respond input{
        width: 100%!important;
    }
}
.single-post-title, #reply-title{
    clear: left;
    font-family: Crimson Text;
    font-weight: 300;
    line-height: 1.35em;
}
#reply-title{
    font-size: 18px;
}
.single-post-title{
    text-transform: uppercase;
    font-size: 28px;
}
.single-post .post-content{
    border: none!important;
}
.single-post ul li{
    list-style: none;
    margin-right: 7px;
    color: #c1c1c1;
    cursor: pointer;
    float: left
}
.single-post ul:first-child{
    margin: 20px 0 60px -37px;
}
.single-post ul{
    margin-left: -40px;
    margin-bottom: 30px;
}
.single-post ul:first-child li{
    float: left;
}
.single-post ul li:hover{
   color: #727272!important;
    text-decoration:none!important; 
}
.single-post-img img{
    width: 100%;
    margin-bottom: 20px;
}
@media (min-width: 991px){
.single-post-img img{
    height: 400px;
}
}
@media (max-width: 990px){
.single-post-img img{
    height: 300px;
}
}
.comment-edit-link, .logged-in-as a{
    color: #cd0236!important;
    text-decoration:none!important;
}
.comment-edit-link:hover, .logged-in-as a:hover{
    color: #727272!important;
}
.form-submit #submit{
    padding: 10px 22px;
    background-color: #333;
    color: #fff!important;
    border:none;
    border-radius: 3px;
    text-transform: uppercase;
    font-family: Crimson Text;
}
@media (max-width: 550px){
    .form-submit #submit{
        width: 100%;
    }
}
.single-content{
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin-bottom: 50px;
    padding-top: 20px;
}
.reply-link{
    padding: 0px 14px;
    background-color: #333;
    border:none;
    border-radius: 3px;
    margin-top: -5px;
    margin-left: 15px;
}
.reply-link a{
     color: #fff!important; 
     text-decoration:none!important; 
     font-size: 12px;
     text-transform: lowercase; 
}
.form-submit #submit:hover, .reply-link:hover{
    background-color: #e01249;
    font-family: Crimson Text;
}
#comments{
    font-family: Crimson Text;
    font-weight: 300;
    line-height: 1.35em;
    font-size: 18px;
}
.comment-list li{
    list-style: none;
    font-family: Crimson Text;
}

.comment-form-comment textarea{
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
    padding: 14px 19px;
    width: 50%;
    -webkit-transition: 0.2s border;
    transition: 0.2s border;
}
.comment-respond input{
    width: 50%;
}
.my-comments{
    clear: both;
}
.comment-list p{
    padding: 10px 0;
}
.comment-form-comment textarea:focus{
    border: 1px solid #000;
}
.single-post .author{
    float: left;
    font-family: Crimson Text;
    font-style: normal;
}
.single-post .author:after{
    content: ' / ';
    margin-right: 3px;
}
.single-post .commentmetadata{
    font-family: Crimson Text;
    color: #727272;
}
.single-post .comment-list li{
    border-bottom: 1px solid #eee;  
    padding-top: 25px;
}
.single-post .comment-list li p{
    font-family: Crimson Text;
    color: #727272;
    padding: 15px 0;
}
.comment-list [class*='depth-']{
    margin: 0 0 0 50px;
}
.comment-list .depth-1{
    margin-left: 0;
}
.comment-respond input:focus{
    border-color: #000;
}
.comment-respond input{
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
    padding: 14px 19px; 
}
.comment-form label{
    width: 50%;
}
#author:after{
    font-family: FontAwesome;
    content: '\f007';

}


/**************REQUEST FORM***************/

#request-form{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    top: 0;
    right: 0;
    display: none;
}
@media (min-width: 992px){
    #request-form form{
        width: 40%;
    }
}
#request-form form{
    background: #fff;
    margin: 0 auto;
    z-index: 1000;
    padding: 40px;
}
#request-form form input,
#request-form form textarea{
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 5px;
}
.order{
    width: 100%;
    border: none;
    background-color: rgb(205, 2, 54);
    padding: 10px;
    border-radius: 3px;
    color: #fff;
    margin-top: 20px;
}
#show-form{
    margin: 0 auto;
    background-color: rgb(205, 2, 54);
    border: none;
    color: #fff;
    padding: 10px;
    border-radius: 3px;
    margin-top: 20px;
    margin-bottom: 20px;
}
@media (max-width: 1200px){
  #show-form{
    width: 100%;
  }  
}
@media (min-width: 1201px){
  #show-form{
    width: 341px;
  }  
}

#my-form span{
    font-style: italic;
    color: #B03939
}
.order:hover, #show-form:hover{
    background-color: #E22E5E;
}
#request-form input:focus,
#request-form textarea:focus{
    border-color: #000;
}
#close-form{
    width: 100%;
    text-align: right;
    cursor: pointer;
}
@media (min-width: 768px) and (max-width: 991px){
    #request-form form{
        width: 50%;
    }
}
@media (max-width: 767px){
    #request-form form{
        width: 70%;
    }
}
/*****************************************/

.footer{
	background-color: #400010;
    position: relative;
}
.footer h2{
    color: #fff;
    text-transform: uppercase;
    font-size: 17px;
    margin-top: 10px!important;
}
.footer h2,.footer div,.footer ul li,.footer ul li a,.footer a{
    color: #b1979d;
}
.footer ul li a:hover,.footer a:hover{
    color: #cd0236!important;
    text-decoration: none;
}
.footer ul li {
	list-style: none;
    width: 50%;
    float: left;
}
.footer ul ul li,.footer ul ul ul li {
    list-style: none;
    width: 100%!important;
}
.footer{
    clear: both;
}
.footer .row{
    width: 100%;
}
.footer ul{
    margin-left: -38px;
}
.footer div{
    padding: 10px;
    margin-bottom: 10px;
}
.footer .col-sm-3{
    padding:10px 10px 10px 20px;
}
@media (max-width: 470px){
    .footer ul li {
        width: 100%;
    }
}
.under-footer{
    background-color: #33000d;
    padding: 20px 0;
    margin-top: -11px;
}
.under-footer p{
    text-align: center;
    color: #b1979d;
}

/*our bouqets*/
.ourprodukti{
            background-image: url("images/foto-produktibackground.jpg");
            margin-top: 20px;
            margin-bottom: 30px;
        }
        .ourprodukti h2{
            color:#0a0a0a;
            font-size: 18px;
            line-height: 36px;
            margin: 0;
            padding: 0;
            text-transform: uppercase;
            font-family: Crimson Text;
            margin-bottom: 25px;
            margin-top: 25px;
        }
        
        .content-slider ul{
            list-style: none outside none;
            padding-left: 0;
            margin: 0;
        }
        
        .content-slider li{
            text-align: center;
            color: #FFF;
        }
        .content-slider
        {
            margin-bottom: 20px;
        }
        

        .content-slider  img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
        }
        .content-slider img:hover {
            -webkit-transform: scale(1.3);
            transform: scale(1.1);

        }
        .content-slider img
        {
            opacity: 0.9;
            filter: alpha(opacity=90);

        }
        .content-slider img:hover
        {   
            opacity-color: 1.0;
            filter: alpha(opacity=100);

        }
        

/*our bouqets*/

/*buyflower*/

    .boyflower{
            background-image: url("images/statement4.jpg");
        }
            
        .boyflower h2
        {
            text-align: center;
             font-size: 30px;
             font-family: Crimson Text;
             font-weight: 300;
            line-height: 1.35em;
            color: #cd0236;
            padding-top:200px;

        }
        
        .buyflower1
        {
            width: 130px;
            margin:0 auto;
            display: block;
            height: 45px; 
            color:#fff;
            border-radius: 5px;
            background-color: #cd0236;
            border:none;
            margin-top: 15px;

        }
        .buyflower1:hover
        {
                background-color: #e01249;
                 color: #fff;
        }

        .boyflower
        {
            padding-bottom: 200px;
            margin-top: -32px;
        }
    

/*buyflower*/

/*Slideri*/

     
        /* jssor slider bullet navigator skin 05 css */
        /*
        .jssorb05 div           (normal)
        .jssorb05 div:hover     (normal mouseover)
        .jssorb05 .av           (active)
        .jssorb05 .av:hover     (active mouseover)
        .jssorb05 .dn           (mousedown)
        */
        .jssorb05 {
            position: absolute;
        }
        .jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
            position: absolute;
            /* size of bullet elment */
            width: 16px;
            height: 16px;
            background: url('img/b05.png') no-repeat;
            overflow: hidden;
            cursor: pointer;
        }
        .jssorb05 div { background-position: -7px -7px; }
        .jssorb05 div:hover, .jssorb05 .av:hover { background-position: -37px -7px; }
        .jssorb05 .av { background-position: -67px -7px; }
        .jssorb05 .dn, .jssorb05 .dn:hover { background-position: -97px -7px; }

        /* jssor slider arrow navigator skin 22 css */
        /*
        .jssora22l                  (normal)
        .jssora22r                  (normal)
        .jssora22l:hover            (normal mouseover)
        .jssora22r:hover            (normal mouseover)
        .jssora22l.jssora22ldn      (mousedown)
        .jssora22r.jssora22rdn      (mousedown)
        */
        .jssora22l, .jssora22r {
            display: block;
            position: absolute;
            /* size of arrow element */
            width: 40px;
            height: 58px;
            cursor: pointer;
            background: url('img/a22.png') center center no-repeat;
            overflow: hidden;
        }
        .jssora22l { background-position: -10px -31px; }
        .jssora22r { background-position: -70px -31px; }
        .jssora22l:hover { background-position: -130px -31px; }
        .jssora22r:hover { background-position: -190px -31px; }
        .jssora22l.jssora22ldn { background-position: -250px -31px; }
        .jssora22r.jssora22rdn { background-position: -310px -31px; }
/*slideri*/
.part-portfolio{
    border: 1px solid #f8f8f8;
    margin: 10px;
}
.portfolio .col-sm-3{
    width: 31% !important;
}
@media(max-width: 991px){
    .portfolio .col-sm-3 {
    width: 43% !important;
}
}
@media(max-width: 784px){
    .portfolio .col-sm-3 {
    width: 95% !important;
}
}
.headline {
    display: table-row-group !important;
    vertical-align: middle;
}

.page-heading{
    background-color: #f8f8f8;
    background-size: cover;
    -webkit-box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.045);
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.045);
    padding: 35px 0;
    text-align: center;
}
.page-heading h1 {
    font-size: 48px;
        font-family: Crimson Text !important;
}
.filter {
    padding: 42px;
    text-align: center;
}
.filter li {
    display: inline-block;
    list-style: none;
    font-size: 14px;
}
.filter button.selected {
    color: #cd0236!important;
}
.filter button {
    background: none;
    border: none;
    outline: none;
}
ul.filter {
    margin-bottom: 35px;
}
.filter button:hover {
    opacity: 0.7;
    filter: alpha(opacity=70);
}
/*About us*/


.about-us h1
{
    text-align: center;
    font-family: Crimson Text;
        font-size: 48px;
        margin-top: 20px;
    margin-bottom: 80px;
}

 .aboutdiv h3
{
   font-size: 21px;
   font-family: Crimson Text;
       color: #000000;
       font-weight: 300;
    line-height: 1.35em;
    margin-bottom:35px;
}
.aboutdiv p
{
    line-height: 1.7em;
    margin: 0 0 10px;
        display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-size: 14px;
     color: #727272;
     margin-bottom: 70px;
     clear: both;
}

.aboutdiv2 h2
{
    display: block;
    text-align: center;
    font-size: 20px;
    font-family: Crimson Text;
}
.aboutdiv2 h4
{
    font-family: Crimson Text;
    color: #a3a3a3;
    font-size: 13px;
    font-style: normal;
    display: block;
    text-align: center;
    margin-top: 0px;
    margin-bottom:100px;
}
.aboutdiv2 p
{
    font-family: Crimson Text;
    color: #727272;
    font-size: 13px;
    font-style: normal;
    display: block;
    text-align: center;
    margin-top: 0px;
}

.aboutpjesa
{
    clear: both;
}

/*.aboutdiv2 .overlay
{
    margin-top:-20px;
}*/



.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}
.hovereffect .overlay {
    width: 100%;
    position: absolute;
    overflow: hidden;
    left: 0;
    top: auto;
    bottom: 0;
    padding: 1em;
    height: 4.75em;
    background: #f9f9f9;
    color: #3c4a50;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);
}

.hovereffect img {
    display: block;
    position: relative;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
}

.hovereffect:hover img {
-webkit-transform: translate3d(0,-10%,0);
    transform: translate3d(0,-10%,0);
}



.hovereffect a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #fff;
    margin: 50px 0 0 0;
    background-color: transparent;
}
.hovereffect a.info:hover {
    box-shadow: 0 0 5px #fff;
}


.hovereffect p.icon-links a {
    float: right;
    color: #3c4a50;
    font-size: 1.4em;
}

.hovereffect:hover p.icon-links a:hover,
.hovereffect:hover p.icon-links a:focus {
    color: #252d31;
}

.hovereffect h2,
.hovereffect p.icon-links a {
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0,200%,0);
    transform: translate3d(0,200%,0);
}

.hovereffect p.icon-links a span:before {
    display: inline-block;
    padding: 8px 10px;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.hovereffect:hover .overlay,
.hovereffect:hover h2,
.hovereffect:hover p.icon-links a {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.hovereffect:hover h2 {
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
}

.hovereffect:hover p.icon-links a:nth-child(3) {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.hovereffect:hover p.icon-links a:nth-child(2) {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
}

.hovereffect:hover p.icon-links a:first-child {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

/*About us*/
=======
.part-portfolio{
    border: 1px solid #f8f8f8;
    margin: 10px;
}
.portfolio .col-sm-3{
    width: 31% !important;
}
@media(max-width: 991px){
    .portfolio .col-sm-3 {
    width: 43% !important;
}
}
@media(max-width: 784px){
    .portfolio .col-sm-3 {
    width: 95% !important;
}
}
.headline {
    display: table-row-group !important;
    vertical-align: middle;
}

.page-heading{
    background-color: #f8f8f8;
    background-size: cover;
    -webkit-box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.045);
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.045);
    padding: 35px 0;
    text-align: center;
}
.page-heading h1 {
    font-size: 48px;
        font-family: Crimson Text !important;
}
.filter {
    padding: 42px;
    text-align: center;
}
.filter li {
    display: inline-block;
    list-style: none;
    font-size: 14px;
}
.filter button.selected {
    color: #cd0236!important;
}
.filter button {
    background: none;
    border: none;
    outline: none;
}
ul.filter {
    margin-bottom: 35px;
}
.contact-content{
    margin-top: 30px;
}
.container1{
    margin-top: 28px;
}
.image img{
    width: 100% !important;
    height: 100% !important;
}

.dropdowncities h2
{
    color:#400010;
    font-family: "arial";
}
.btn
{
    background-color: #cd0236 !important;
}
.dropdowncities ul li a 
{
    color:black!important;
    margin-bottom: 3px;
}
.dropdowncities button
{
    margin-bottom: 20px;
}

.tagss h1
{
    text-align: center;
    margin-top: -20px;
    color:black !important;
}
.shops-name h2
{
    text-align: center;
    margin-bottom: 20px;
}
.square
{
    margin-top: 20px;
}

.next-prev{
    padding: 10px;
    text-align: left;
    border-top: 1px solid #207686;
    background-color: #fff;
}
.next-prev span{
    float: left;
    text-align: center;
    width: 150px;
    padding: 5px;
    color: #cd0236;
    border-radius: 2px;
    border: 1px solid #cd0236;
    margin-right: 3px;
}
.next-prev span:hover{
    color: #fff;
    background: linear-gradient(#cd0236, #cd0250);
}